-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: ca_exam
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ca_ai_prompts`
--

DROP TABLE IF EXISTS `ca_ai_prompts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_ai_prompts` (
  `prompt_id` varchar(50) NOT NULL,
  `ai_usage_id` varchar(50) NOT NULL,
  `prompt_text` text,
  `ai_response` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`prompt_id`),
  KEY `fk_prompt_usage` (`ai_usage_id`),
  CONSTRAINT `fk_prompt_usage` FOREIGN KEY (`ai_usage_id`) REFERENCES `ca_ai_usage_stats` (`ai_usage_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_ai_prompts`
--

LOCK TABLES `ca_ai_prompts` WRITE;
/*!40000 ALTER TABLE `ca_ai_prompts` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_ai_prompts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_ai_usage_stats`
--

DROP TABLE IF EXISTS `ca_ai_usage_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_ai_usage_stats` (
  `ai_usage_id` varchar(50) NOT NULL,
  `task_id` varchar(50) DEFAULT NULL,
  `learner_id` varchar(50) DEFAULT NULL,
  `used_count` int DEFAULT '0',
  `last_used` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`ai_usage_id`),
  KEY `fk_ai_usage_learner` (`learner_id`),
  CONSTRAINT `fk_ai_usage_learner` FOREIGN KEY (`learner_id`) REFERENCES `ca_learners` (`learner_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_ai_usage_stats`
--

LOCK TABLES `ca_ai_usage_stats` WRITE;
/*!40000 ALTER TABLE `ca_ai_usage_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_ai_usage_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_classes`
--

DROP TABLE IF EXISTS `ca_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_classes` (
  `class_id` varchar(50) NOT NULL,
  `class_name` varchar(255) NOT NULL,
  `teacher_id` varchar(50) DEFAULT NULL,
  `institute_id` varchar(50) DEFAULT NULL,
  `class_status_id` varchar(50) DEFAULT NULL,
  `alfresco_class_id` varchar(100) DEFAULT NULL,
  `lms_class_id` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`class_id`),
  KEY `fk_class_teacher` (`teacher_id`),
  KEY `fk_class_institute` (`institute_id`),
  KEY `fk_class_status` (`class_status_id`),
  CONSTRAINT `fk_class_institute` FOREIGN KEY (`institute_id`) REFERENCES `ca_platform_institutes` (`institute_id`),
  CONSTRAINT `fk_class_status` FOREIGN KEY (`class_status_id`) REFERENCES `ca_statuses` (`status_id`),
  CONSTRAINT `fk_class_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `ca_teachers` (`teacher_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_classes`
--

LOCK TABLES `ca_classes` WRITE;
/*!40000 ALTER TABLE `ca_classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_enrollments`
--

DROP TABLE IF EXISTS `ca_enrollments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_enrollments` (
  `enrollment_id` varchar(50) NOT NULL,
  `class_id` varchar(50) NOT NULL,
  `learner_id` varchar(50) NOT NULL,
  `status_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`enrollment_id`),
  KEY `fk_enrollment_class` (`class_id`),
  KEY `fk_enrollment_learner` (`learner_id`),
  KEY `fk_enrollment_status` (`status_id`),
  CONSTRAINT `fk_enrollment_class` FOREIGN KEY (`class_id`) REFERENCES `ca_classes` (`class_id`),
  CONSTRAINT `fk_enrollment_learner` FOREIGN KEY (`learner_id`) REFERENCES `ca_learners` (`learner_id`),
  CONSTRAINT `fk_enrollment_status` FOREIGN KEY (`status_id`) REFERENCES `ca_statuses` (`status_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_enrollments`
--

LOCK TABLES `ca_enrollments` WRITE;
/*!40000 ALTER TABLE `ca_enrollments` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_enrollments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_integration_logs`
--

DROP TABLE IF EXISTS `ca_integration_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_integration_logs` (
  `log_id` varchar(50) NOT NULL,
  `message` text,
  `bulk_upload_id` varchar(50) DEFAULT NULL,
  `middleware_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `fk_log_bulk` (`bulk_upload_id`),
  CONSTRAINT `fk_log_bulk` FOREIGN KEY (`bulk_upload_id`) REFERENCES `ca_stg_bulk_upload` (`bulk_upload_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_integration_logs`
--

LOCK TABLES `ca_integration_logs` WRITE;
/*!40000 ALTER TABLE `ca_integration_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_integration_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_learners`
--

DROP TABLE IF EXISTS `ca_learners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_learners` (
  `learner_id` varchar(50) NOT NULL,
  `email` varchar(255) NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `institute_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`learner_id`),
  KEY `fk_learner_institute` (`institute_id`),
  CONSTRAINT `fk_learner_institute` FOREIGN KEY (`institute_id`) REFERENCES `ca_platform_institutes` (`institute_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_learners`
--

LOCK TABLES `ca_learners` WRITE;
/*!40000 ALTER TABLE `ca_learners` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_learners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_middleware_students`
--

DROP TABLE IF EXISTS `ca_middleware_students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_middleware_students` (
  `middleware_id` varchar(50) NOT NULL,
  `student_id` varchar(50) DEFAULT NULL,
  `user_id` varchar(50) DEFAULT NULL,
  `ca_id` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT 'ACTIVE',
  `process_status` varchar(20) DEFAULT 'PENDING',
  `error_message` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`middleware_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_middleware_students`
--

LOCK TABLES `ca_middleware_students` WRITE;
/*!40000 ALTER TABLE `ca_middleware_students` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_middleware_students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_middleware_teachers`
--

DROP TABLE IF EXISTS `ca_middleware_teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_middleware_teachers` (
  `middleware_id` varchar(50) NOT NULL,
  `teacher_id` varchar(50) DEFAULT NULL,
  `user_id` varchar(50) DEFAULT NULL,
  `ca_id` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT 'ACTIVE',
  `process_status` varchar(20) DEFAULT 'PENDING',
  `error_message` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`middleware_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_middleware_teachers`
--

LOCK TABLES `ca_middleware_teachers` WRITE;
/*!40000 ALTER TABLE `ca_middleware_teachers` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_middleware_teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_platform_institutes`
--

DROP TABLE IF EXISTS `ca_platform_institutes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_platform_institutes` (
  `institute_id` varchar(50) NOT NULL,
  `institute_name` varchar(255) NOT NULL,
  `admin_user_id` varchar(50) DEFAULT NULL,
  `admin_email` varchar(255) DEFAULT NULL,
  `bulk_consent_given` char(1) DEFAULT 'N',
  `alfresco_site_id` varchar(100) DEFAULT NULL,
  `crm_account_id` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`institute_id`),
  KEY `fk_institute_admin` (`admin_user_id`),
  CONSTRAINT `fk_institute_admin` FOREIGN KEY (`admin_user_id`) REFERENCES `ca_platform_users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_platform_institutes`
--

LOCK TABLES `ca_platform_institutes` WRITE;
/*!40000 ALTER TABLE `ca_platform_institutes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_platform_institutes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_platform_users`
--

DROP TABLE IF EXISTS `ca_platform_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_platform_users` (
  `user_id` varchar(50) NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `status_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_by` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_user_status` (`status_id`),
  CONSTRAINT `fk_user_status` FOREIGN KEY (`status_id`) REFERENCES `ca_statuses` (`status_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_platform_users`
--

LOCK TABLES `ca_platform_users` WRITE;
/*!40000 ALTER TABLE `ca_platform_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_platform_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_roles`
--

DROP TABLE IF EXISTS `ca_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_roles` (
  `role_id` varchar(50) NOT NULL,
  `role_name` varchar(100) NOT NULL,
  `role_description` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`role_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_roles`
--

LOCK TABLES `ca_roles` WRITE;
/*!40000 ALTER TABLE `ca_roles` DISABLE KEYS */;
INSERT INTO `ca_roles` VALUES ('1','ADMIN','Platform Administrator','2026-01-30 08:26:55','2026-01-30 08:26:55'),('3','STUDENT','Student/Learner','2026-01-30 08:26:57','2026-01-30 08:26:57'),('4','SCHOOL_ADMIN','School Administrator','2026-01-30 08:26:58','2026-01-30 08:26:58');
/*!40000 ALTER TABLE `ca_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_statuses`
--

DROP TABLE IF EXISTS `ca_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_statuses` (
  `status_id` varchar(50) NOT NULL,
  `status_code` varchar(50) NOT NULL,
  `status_name` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`status_id`),
  UNIQUE KEY `status_code` (`status_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_statuses`
--

LOCK TABLES `ca_statuses` WRITE;
/*!40000 ALTER TABLE `ca_statuses` DISABLE KEYS */;
INSERT INTO `ca_statuses` VALUES ('1','ACTIVE','Active','2026-01-30 08:26:51'),('2','INACTIVE','Inactive','2026-01-30 08:26:52'),('3','PENDING','Pending','2026-01-30 08:26:52'),('4','ARCHIVED','Archived','2026-01-30 08:26:53');
/*!40000 ALTER TABLE `ca_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_stg_bulk_upload`
--

DROP TABLE IF EXISTS `ca_stg_bulk_upload`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_stg_bulk_upload` (
  `bulk_upload_id` varchar(50) NOT NULL,
  `institute_id` varchar(50) DEFAULT NULL,
  `uploaded_by` varchar(50) DEFAULT NULL,
  `file_name` varchar(500) DEFAULT NULL,
  `error_message` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`bulk_upload_id`),
  KEY `fk_bulk_institute` (`institute_id`),
  CONSTRAINT `fk_bulk_institute` FOREIGN KEY (`institute_id`) REFERENCES `ca_platform_institutes` (`institute_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_stg_bulk_upload`
--

LOCK TABLES `ca_stg_bulk_upload` WRITE;
/*!40000 ALTER TABLE `ca_stg_bulk_upload` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_stg_bulk_upload` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_task_types`
--

DROP TABLE IF EXISTS `ca_task_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_task_types` (
  `task_type_id` varchar(50) NOT NULL,
  `task_type` varchar(100) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`task_type_id`),
  UNIQUE KEY `task_type` (`task_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_task_types`
--

LOCK TABLES `ca_task_types` WRITE;
/*!40000 ALTER TABLE `ca_task_types` DISABLE KEYS */;
INSERT INTO `ca_task_types` VALUES ('1','ASSIGNMENT','Assignment Task','2026-01-30 08:27:00'),('2','QUIZ','Quiz Task','2026-01-30 08:27:00'),('3','PRACTICE','Practice Task','2026-01-30 08:27:03');
/*!40000 ALTER TABLE `ca_task_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_teachers`
--

DROP TABLE IF EXISTS `ca_teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_teachers` (
  `teacher_id` varchar(50) NOT NULL,
  `email` varchar(255) NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `institute_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`teacher_id`),
  KEY `fk_teacher_institute` (`institute_id`),
  CONSTRAINT `fk_teacher_institute` FOREIGN KEY (`institute_id`) REFERENCES `ca_platform_institutes` (`institute_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_teachers`
--

LOCK TABLES `ca_teachers` WRITE;
/*!40000 ALTER TABLE `ca_teachers` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_user_invites`
--

DROP TABLE IF EXISTS `ca_user_invites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_user_invites` (
  `invite_id` varchar(50) NOT NULL,
  `email` varchar(255) NOT NULL,
  `invite_code` varchar(100) NOT NULL,
  `keycloak_user_id` varchar(100) DEFAULT NULL,
  `role_id` varchar(50) DEFAULT NULL,
  `used` tinyint(1) DEFAULT '0',
  `used_at` timestamp NULL DEFAULT NULL,
  `source` varchar(50) DEFAULT NULL,
  `additional_details` text,
  `expires_at` timestamp NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`invite_id`),
  UNIQUE KEY `invite_code` (`invite_code`),
  KEY `fk_invite_role` (`role_id`),
  CONSTRAINT `fk_invite_role` FOREIGN KEY (`role_id`) REFERENCES `ca_roles` (`role_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_user_invites`
--

LOCK TABLES `ca_user_invites` WRITE;
/*!40000 ALTER TABLE `ca_user_invites` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_user_invites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ca_user_role_mapping`
--

DROP TABLE IF EXISTS `ca_user_role_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ca_user_role_mapping` (
  `mapping_id` varchar(50) NOT NULL,
  `user_id` varchar(50) NOT NULL,
  `role_entity_id` varchar(50) DEFAULT NULL,
  `keycloak_user_id` varchar(100) DEFAULT NULL,
  `alfresco_user_id` varchar(100) DEFAULT NULL,
  `lms_entity_id` varchar(100) DEFAULT NULL,
  `crm_contact_id` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`mapping_id`),
  KEY `fk_mapping_user` (`user_id`),
  CONSTRAINT `fk_mapping_user` FOREIGN KEY (`user_id`) REFERENCES `ca_platform_users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ca_user_role_mapping`
--

LOCK TABLES `ca_user_role_mapping` WRITE;
/*!40000 ALTER TABLE `ca_user_role_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `ca_user_role_mapping` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-20 17:15:57
