.displayLarge {
    font-size: 57px;
    line-height: 64px;
}

.displayMedium {
    font-size: 45px;
    line-height: 52px;
}

.displaySmall {
    font-size: 36px;
    line-height: 44px;
}

.headlineLarge {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
}

.headlineMedium {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
}

.headlineSmall {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.titleLarge {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
}

.titleMedium {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.titleSmall {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.labelLarge {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.labelMedium {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.labelSmall {
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.bodyLarge {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.bodyMedium {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.bodySmall {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}